<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.orion.zd.persistence.FSBOMapper">
	<resultMap type="com.orion.zd.domain.FSBO" id="FSBO">
        <id column="id" property="id"  />
        <result property="parcel" column="parcel"/>
        <result property="owner" column="owner"/>
        <result property="address" column="address"/>
        <result property="acres" column="acres"/> 
        <result property="sqft" column="sqft"/>   
        <result property="image" column="image"/>   
        <result property="marketValue" column="marketValue"/> 
    </resultMap>
	 
	<select id="getAllFSBO" resultMap="FSBO">
		select * from fsbo 
	</select>
    
    <select id="getFSBO" resultMap="FSBO">
		select * from fsbo where parcel=#{parcel} 
	</select>
    
    <insert id="insertFSBO">
	  insert into fsbo (parcel,owner,address,acres,sqft,image,marketvalue)
	  values (#{parcel},#{owner},#{address},#{acres},#{sqft},#{image},#{marketValue})
	</insert>
</mapper>
