<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.orion.zd.persistence.SoldListingMapper">
	<resultMap type="com.orion.zd.domain.SoldListing" id="SoldListing">
        <id column="id" property="id"  />
        <result property="mls" column="mls"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="listDate" column="list_date"/>
        <result property="listPrice" column="list_price"/>
        <result property="soldDate" column="sold_date"/>
        <result property="soldPrice" column="sold_price"/>
        <result property="type" column="type"/>
        <result property="style" column="style"/>
        <result property="year" column="year"/>
        <result property="acres" column="acres"/>
        <result property="bed" column="bed"/>
        <result property="bath" column="bath"/>
        <result property="sqft" column="sqft"/>
        <result property="garage" column="garage"/>
        <result property="address" column="address"/>
        <result property="city" column="city"/>
        <result property="zip" column="zip"/>
        <result property="listingAgent" column="listing_agent"/>
        <result property="listingOffice" column="listing_office"/>
        <result property="bac" column="bac"/>
        <result property="brokerage" column="brokerage"/>
        <result property="image" column="image"/>
        <result property="sellerAgent" column="seller_agent"/>
        <result property="sellerOffice" column="seller_office"/>   
    </resultMap>

    <select id="getListing" parameterType="Integer" resultMap="SoldListing">
		select * from sold_listings where mls=#{mls} 
	</select>

    <select id="getAllListing" parameterType="map" resultMap="SoldListing">
		select * from sold_listings where type = #{type} AND style = #{style} AND zip = #{zip} AND sold_date &gt;= #{firstDate} AND sold_date &lt;= #{lastDate}
	</select>
    
    <insert id="addListing" parameterType="SoldListing" useGeneratedKeys="true">
	  <selectKey order="AFTER" keyProperty="id" resultType="int">
	    SELECT currval('sold_listings_id_seq')
	  </selectKey>
	  insert into sold_listings (mls, latitude, longitude, list_date, list_price, sold_date, 
            sold_price, type, style, year, acres, bed, bath, sqft, garage, 
            address, city, zip, listing_agent, listing_office , bac, brokerage , image ,
            seller_agent, seller_office )
	  values (#{mls}, #{latitude}, #{longitude}, #{listDate}, #{listPrice}, #{soldDate}, 
			#{soldPrice}, #{type}, #{style}, #{year}, #{acres}, #{bed}, #{bath}, #{sqft}, 
			#{garage}, #{address}, #{city}, #{zip}, #{listingAgent}, #{listingOffice} , #{bac}, 
			#{brokerage} , #{image} , #{sellerAgent}, #{sellerOffice})
	</insert>
</mapper>
