<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.orion.zd.persistence.StreetMapper">
	<resultMap type="com.orion.zd.domain.Street" id="Street">
        <id column="id" property="id"  />
        <result property="zip" column="zip"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>   
    </resultMap>
	 
	<select id="getStreetID" resultMap="Street">
		select id from streets where name=#{name} and zip=#{zip} and type=#{type} 
	</select>
	
	<select id="getAllStreets" resultMap="Street">
		select * from streets 
	</select>
    
    <insert id="insertStreet">
	  insert into streets (name,zip,type)
	  values (#{name},#{zip},#{type})
	</insert>
</mapper>
